<template>
  <section class="catalog">
      <div class="container">
        <ul class="catalog__list">
          <folder-view name="$" :folders="folders" :files="files"/>
        </ul>
      </div>
    </section>
</template>

<script>
import data from '../data/list';
import FolderView from './FolderView.vue';

export default {
  name: 'AppCatalog',
  components: {
    FolderView
  },
  data: () => data
}
</script>

<style lang="scss"> 
.catalog__list {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 24px;
  border: 1px solid hsla(0, 0%, 100%, 0.35);
  border-radius: 16px;
  
  list-style: none;
  background-color: hsla(0, 0%, 100%, 0.15);
}

.catalog__item {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 40px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.35);

  color: hsla(0, 0%, 100%, 0.85);

  &:last-of-type {
    border-bottom: none;
  }
}
</style>
