<template>
  <header class="header">
    <nav class="header__navigation container">
      <button class="header__button header__button--hamburger">
        <span class="visually-hidden">Открыть меню</span>
      </button>
      <button class="header__button header__button--search">
        <span class="visually-hidden">Поиск</span>
      </button>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>

<style lang="scss">
.header {
  padding-top: 44px;
  padding-bottom: 16px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;

  background-color: transparent;
  background-repeat: no-repeat;

  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

.header__button--hamburger {
  background-image: url("../img/icons/hamburger.svg");
}

.header__button--search {
  background-image: url("../img/icons/search.svg");
}
</style>
