<template>
  <main class="main">
    <h1 class="visually-hidden">Storage</h1>
    <app-picture class="main__picture"></app-picture>
    <app-catalog class="main__fail"></app-catalog>
  </main>
</template>

<script>
import AppPicture from './AppPicture.vue';
import AppCatalog from './AppCatalog.vue';

export default {
  name: 'AppMain',
  components: {
    AppPicture,
    AppCatalog
  }
}
</script>

<style lang="scss"> 
  .main__picture {
    margin-bottom: 6px;
  }
</style>
