<template>
  <section class="gallery">
    <div class="container">
      <ul class="gallery__list">
        <li class="gallery__item">
          <img class="gallery__picture" src="../img/picture/cat.jpg" srcset="../img/picture/cat@2x.jpg 2x" width="60" height="60" alt="Кот на стуле">
        </li>
        <li class="gallery__item">
          <img class="gallery__picture" src="../img/picture/game.jpg" srcset="../img/picture/game@2x.jpg 2x" width="60" height="60" alt="Неоновые глифы">
        </li>
        <li class="gallery__item">
          <img class="gallery__picture" src="../img/picture/banan.jpg" srcset="../img/picture/banan@2x.jpg 2x" width="60" height="60" alt="Банан">
        </li>
        <li class="gallery__item">
          <img class="gallery__picture" src="../img/picture/banan.jpg" srcset="../img/picture/banan@2x.jpg 2x" width="60" height="60" alt="Открыть галерею">
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'AppPicture'
}
</script>

<style lang="scss">
.gallery__list {
  display: flex;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;
  padding: 22px 17px;
  border: 1px solid hsla(0, 0%, 100%, 0.35);
  border-radius: 16px;
  
  list-style: none;
  background-color: hsla(0, 0%, 100%, 0.15);
}

.gallery__item {
  position: relative;

  &:last-child {
      &::before {
        content: "+150";
        position: absolute;
        left: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 8px;

        color: hsl(0, 0%, 100%);
        background-color: hsla(0, 0%, 0%, 0.6);

        z-index: 2;
    }
  }
}

.gallery__picture{
  width: 60px;
  height: 60px;
  border: 1px solid hsla(0, 0%, 100%, 0.35);
  border-radius: 8px;

}
</style>
