<template>
  <li class="catalog__item catalog__item--file">{{name}}</li>
</template>

<script>
export default {
  name: 'FileView',
  props: {
    name: String
  }
}
</script>

<style scoped lang="scss">
.catalog__item--file {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 11px;

    width: 16px;
    height: 20px;

    background-image: url("../img/icons/file.svg");
    background-repeat: no-repeat;
  }
}
</style>
