<template>
  <li class="catalog__item catalog__item--folder">
    {{name}}
    <ul class="catalog__item-list">
      <template v-for="(file, index) in files" :key="index">
        <file-view :name="file.name"/>
      </template>
    </ul>
  </li>
  <template v-for="(folder, index) in folders" :key="index">
    <folder-view :name="folder.name" :folders="folder.folders" :files="folder.files"/>
  </template>
</template>

<script>
import FileView from "./FileView";
export default {
  name: 'FolderView',
  components: {FileView},
  props: {
    name: String,
    folders: Array,
    files: Array
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.catalog__item--folder {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;

    width: 20px;
    height: 16px;

    background-image: url("../img/icons/folder.svg");
    background-repeat: no-repeat;
  }
}

.catalog__item-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  
  list-style: none;
}
</style>
