<template>
  <app-header></app-header>
  <app-main></app-main>
</template>

<script>
import AppHeader from './components/AppHeader.vue';
import AppMain from './components/AppMain.vue';

export default {
  name: 'App',
  components: {
    AppHeader,
    AppMain
  }
}
</script>

<style lang="scss">
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: 
    url("fonts/poppins-regular.woff2") format("woff2"),
    url("fonts/poppins-regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: 
    url("fonts/poppins-bold.woff2") format("woff2"),
    url("fonts/poppins-bold.woff") format("woff");
}

html {
  min-height: 100%;
}

body {
  min-width: 320px; 
  min-height: 100%;
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  word-break: break-all;

  background-image: url("img/bg-gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
     background-image: url("img/bg-gradient@2x.jpg");
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container { 
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
</style>
